.DS_Store
node_modules
build/
.svelte-kit/
dist/
/package
.env
# !.env.example
.vercel
# out/
.history/
vite.config.js.timestamp-*
vite.c<onfig.ts.timestamp-*
.next/
out/
server/*

.vercel
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
